.show{
    padding: 0 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}


/* media Query */

@media only screen and (max-width: 320px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
}
@media only screen and (min-width: 321px) and (max-width: 370px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
  
}

@media only screen and (min-width: 371px) and (max-width: 400px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 768px) {
    .show{
        padding: 0 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {}

@media only screen and (min-width: 991px) and (max-width: 1120px) {}